:root {
  --text: #fff;
  --input: #222;
  --input-border: #444;
  --background: #000;
}
body {
  font-family: Arial;
  color: var(--text);
  width: 100vw;
  max-width: 1250px;
  margin: 0px auto;
  background: var(--background);
}
p {
  margin: 6px 0px;
  width: fit-content;
}
input, button, select {
  color: currentColor;
  margin: 2px;
  padding: 2px 4px;
  border: 2px var(--input-border) solid;
  border-radius: 0.25rem;
  background: var(--input);
}
button {
  cursor: pointer;
  transition: background .25s;
}
button:hover {
  background: var(--input-border);
}
button[disabled] {
  color: var(--input-border);
  background: var(--background);
  cursor: not-allowed;
}
select {
  padding: 1px;
}
option[disabled] {
  text-align: center;
}
.clicky {
  cursor: pointer;
  border-radius: 0.25rem;
}
.clicky:hover {
  background: var(--input);
}
#top {
  display: flex;
  gap: 5px;
  align-items: center;
}
#top input {
  margin: 0px;
}
div:has(>iframe) {
  display: flex;
  justify-content: center;
}
iframe {
  width: 100vw;
  max-width: 1250px;
  aspect-ratio: 16/9;
  border: 1px var(--input-border) solid;
  box-sizing: border-box;
  user-select: none;
}
.wrap {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.wrap div {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  flex: 1 0 calc(20% - (4 * 1em) / 5);
}
.wrap div img {
  width: 100%;
  border-radius: 0.25rem;
  margin: auto;
}
.wrap div span {
  flex: 1;
  overflow: hidden;
}
.anime {
  display: flex;
  gap: 1em;
}
.anime > div {
  border-radius: 0.5rem;
  overflow: hidden;
}
.anime > div:first-child {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.anime img {
  max-width: 30dvw;
}
.stat {
  display: flex;
  justify-content: center;
  padding: 2px;
  background-color: #333;
}
#con {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  background: var(--background);
}
